<div ng-if="displayReady">
  <h1 class="page-title">My Profile</h1>
  <div class="profile-header">
    <img width="100px" class="profile-header" ng-src="{{ 'http://catlin.lostexhaust.org/api/person/picture/'+person.eeid+'.jpg?token='+token }}">
    <h2 class="profile-header">{{ person.firstname }} {{ person.lastname }}</h2><br>
    <h4 class="profile-header">{{ person.affiliation }}</h4>
  </div>
  <div class="profile-info">
    <div class="profile-section">
      <span ng-if="person.gradelevel"><b>Student Information</b><hr align="left" class="profile">
      <span class="profile-info-field"><i>Current Grade</i></span>
      <span class="profile-info-entry">{{ person.gradelevel }}</span><hr align="left" class="profile">
      <span class="profile-info-field"><i>Class Of</i></span>
      <span class="profile-info-entry">{{ person.classyear }}</span><hr align="left" class="profile">
    </div>
    <div class="profile-section">
      <b>Contact</b><hr align="left" class="profile">
      <div ng-repeat="contact in person.contacts">
        <span class="profile-info-field"><i>{{ contact.contact_type }} {{ contact.contact_mode }}</i></span>
        <span class="profile-info-entry">{{ contact.contact_value }}</span><hr align="left" class="profile">
      </div>
    </div>
    <div class="profile-section">
      <b>Households</b><hr align="left" class="profile">
      <div ng-repeat="household in person.households">
        <span class="profile-info-field"><i>Address</i></span>
        <span class="profile-info-entry"><a class="household" href="/#/household?h={{ household.household_id }}">{{ household.full_address }}</a></span><hr align="left" class="profile">
      </div>
    </div>
    <div class="profile-section">
      <b>Relationships</b><hr align="left" class="profile">
      <div ng-repeat="relationship in person.relationships">
        <span class="profile-info-field"><i>{{ relationship.relationship }}</i></span>
        <span class="profile-info-entry"><a class="residents" href="/#/person?p={{ relationship.relation_id }}">{{ relationship.relation_firstname }} {{ relationship.relation_lastname }}</a></span><hr align="left" class="profile">
      </div>
    </div>
  </div>
</div>
